@font-face {
    font-family: 'Action Man';
    src: url('../fonts/ActionMan.woff2') format('woff2'),
        url('../fonts/ActionMan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    font-family:'Action Man','Courier New', Courier, monospace;
}

#nav{
    flex: 1;
    background-color: #493628;
    color: white;
    padding: 10px;
    overflow: scroll;
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

#projects button{
    width: 13%;
    padding: 5px;
    border-radius: 50%;
    border: none;
    font-weight: bolder;
}

#projects button:hover{
    cursor: pointer;
}

#content{
    background-image: url("../images/background_image1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex: 5;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
    width: 60%;
    padding: 5px;
    border-radius: 10px;
}

a:hover{
    cursor: pointer;
    animation: pulse;
    animation-duration: 1s;
}

h1{
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    body{
        display: block;
    }

    #nav{
        height: 100px;
    }

    #header{
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #header h1{
        margin-bottom: 0;
    }

    #header button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
    }

    #projects{
        gap: 5px;
    }

    #content{
        flex-direction: column;
    }

}