*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
}

#nav{
    flex: 1;
    background-color: #493628;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

#content{
    flex: 5;
}

#projects{
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

#projects button{
    width: 13%;
    padding: 5px;
    border-radius: 50%;
    border: none;
    font-weight: bolder;
}

#projects button:hover{
    cursor: pointer;
}

#content{
    background-image: url("../images/background_image1.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a{
    text-decoration: none;
    color: white;
    width: 60%;
}

a:hover{
    cursor: pointer;
    animation: pulse;
    animation-duration: 1s;
}

h1{
    margin-bottom: 50px;
}